{%- for p in root.csvfile | myread_csvdata %}
<tr>
  <td class="Column-01">
    <a onclick="s.linkTrackVars='eVar3'; s.eVar3='FX_index_Contents_Table_Banner_{{ p.keycode }}'; s.tl(this,'o','Link Click');" target="_blank" href="{{ p.leverage_url }}"><img width="120" height="60" border="0" alt="{{ p.product_name }}" src="http://point-g.rakuten.co.jp/fx/img/thumb/fx_item01/{{ p.img120x60 }}"><br>
    <strong>{{ p.product_name }}</strong>&nbsp;(<strong>{{ p.client }}</strong>)</a>
  </td>
  <td class="Column-02">{{ p.leverage }}</td>
  <td class="Column-03">{{ p.initial_fund }}</td>
  <td class="Column-03_5">円</td>
  <td class="Column-04">{{ p.currency_unit }}</td>
  <td class="Column-05">{{ p.maginecall }}</td>
  <td class="Column-06">{{ p.losscut_alarm }}</td>
  <td class="Column-07">{{ p.losscut_line }}</td>
  <td class="Column-08"><span class="AnchorBtn"><a onclick="s.linkTrackVars='eVar3'; s.eVar3='FX_index_Contents_Table_AnchorBtn_{{ p.keycode }}'; s.tl(this,'o','Link Click');" target="_blank" href="{{ p.leverage_url }}">口座開設</a></span></td>
</tr>
{%- endfor %}
