{%- for p in root.csvfile
             | myread_csvdata
             | mysorted(cmpkey='pair_order', reverse=False) %}
<tr>
  <td class="Column-01">
    <a onclick="s.linkTrackVars='eVar3'; s.eVar3='FX_index_Contents_Table_Banner_{{ p.keycode }}'; s.tl(this,'o','Link Click');" target="_blank" href="{{ p.pair_url }}"><img width="120" height="60" border="0" alt="{{ p.product_name }}" src="http://point-g.rakuten.co.jp/fx/img/thumb/fx_item01/{{ p.img120x60 }}"><br>
    <strong>{{ p.product_name }}</strong>&nbsp;(<strong>{{ p.client }}</strong>)</a>
  </td>
  <td class="Column-02">{{ p.currency_pair }}</td>
  <td class="Column-03">{{ p.base_currency }} </td>
  <td class="Column-04">{{ p.recommend_pair }}</td>
  <td class="Column-05">{{ p.yuan_yen }}</td>
  <td class="Column-06">{{ p.won_yen }}</td>
  <td class="Column-07">{{ p.rand_yen }}</td>
  <td class="Column-08"><span class="AnchorBtn"><a onclick="s.linkTrackVars='eVar3'; s.eVar3='FX_index_Contents_Table_AnchorBtn_{{ p.keycode }}'; s.tl(this,'o','Link Click');" target="_blank" href="{{ p.pair_url }}">口座開設</a></span></td>
</tr>
{%- endfor %}
